<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs')%>
</head>
<body>
<main id="start-main">
  <div id="start-div">
    <div class="start-div-row">
      <img src="#" alt="venue pic 1" class="start-div-img">
      <img src="#" alt="venue pic 2" class="start-div-img extra-img">
      <img src="#" alt="venue pic 3" class="start-div-img extra-img">
    </div>
    <div class="start-div-titles start-div-row">
      <h1>SPORTS VENUES</h1>
      <h2>a flimsy pretext for a CRUDdy project</h2>
      <h4>There are currently <span class="counter"><%=numVenues%></span> venues in the database.</h4>
      <a href="/venues"><button id="enter-site-btn">Enter</button></a>
    </div>
    <div class="start-div-row">
      <img src="#" alt="venue pic 4" class="start-div-img">
      <img src="#" alt="venue pic 5" class="start-div-img extra-img">
      <img src="#" alt="venue pic 6" class="start-div-img extra-img">
    </div>
    
    

  </div>
</main>
</body>
</html>