/* START PAGE */
#start-main {
  min-height: 100vh;
  background-image: url(https://previews.123rf.com/images/red33/red331302/red33130200013/17904433-%E3%82%B9%E3%83%9D%E3%83%BC%E3%83%84%E3%81%AE%E3%82%B7%E3%83%BC%E3%83%A0%E3%83%AC%E3%82%B9%E3%81%AA%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3-%E3%83%99%E3%82%AF%E3%83%88%E3%83%AB.jpg);
  background-size: cover;
  background-position: center;
  background-color: (0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-div {
  min-height: 80vh;
  border: 5px solid rgb(6, 6, 49);
  border-radius: 1em;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  padding: 1em;
  background-color: lightgray;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#start-div-row {
  flex-basis: 100%;
}

#start-div-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#enter-site-btn {
  background-color: green;
  color: white;
  text-shadow: 1px 1px 0px black;
  text-decoration: none;
}

.counter { /* use for counter of venues in database */
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.extra-img {
  display: none;
}


/* AT 400PX, CHANGE THE FOLLOWING: */
@media (min-width: 400px) {
  .extra-img:nth-of-type(2n) {
    display: inline;
  }

}

/* AT 800PX, CHANGE THE FOLLOWING: */
@media (min-width: 800px) {
  .extra-img {
    display: inline;
  }
}